/*
 * Empty Stylesheet file.
 */

.parent{
    -fx-background-color: #fff;
}

.sidepane {
    -fx-background-color:rgba(51, 54, 69, 0.8);
}

.saldo-textD{
    -fx-font-fill:red!important;
}

.text-saldo-contas {
    -fx-font-fill:#ffffff;
}


